// Breakpoints
$breakpoint-small: 1000px;
$breakpoint-medium: 1300px;
$breakpoint-large: 1600px;
$breakpoint-xlarge: 2000px;

$container-background-color: #131313af;
$container-width: 640px;
$container-shadow: 0px 0px 8px #0000006f;
$container-backdrop: blur(16px);
$text-color: #efefef;
